@model IEnumerable<EmployeesMVC.Models.EmployeeModel>

@{
    ViewData["Title"] = "ShowEmployee";
}

<h1>ShowEmployee</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeDob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeDob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeSalary)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
